/*General settings*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**HEADER*/

.header {
  color: #efeaea;
  position: fixed; /*sabit*/
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px; /*sidebar genişlik*/
  /*height: 919px;*/
  height: 100vh;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
  overflow-y: auto; /* İçerik taşarsa kaydır */
  z-index: 997; /* Önde gözüksün */
}
/* Sidebar Renk Teması */
.dark-background {
  background-color: #141517;
}

/* PROFİLE PHOTO */
.profile-img img {
  border-radius: 50% !important;
  width: 150px;
  margin: 15px auto;
  display: block;
  border: 9px solid;
  color: #343a40;
}

/*Logo-name*/
.logo {
  line-height: 1;
  margin-bottom: 15px;
  text-decoration: none;
}
.site-name {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #ffffff;
}

.social-links a {
  margin: 0 15px 20px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 16px;
  background-color: #343a40; /* Normal renk */
}
.social-links a:hover {
  background-color: rgb(42, 106, 179); /* Üzerine gelince mavi */
  transform: scale(1.1); /* Hafif büyüme */
  opacity: 1; /* Renk tamamen görünür */
}

/*NAV*/
.nav-menu {
  padding: 0;
  margin: 0;
}
.nav-ul {
  padding: 0 0 20px 0;
  box-sizing: border-box;
  width: 260px;
  /*height: 440px;*/
  height: auto;
  list-style: none;
}

.nav-menu a {
  padding: 15px 10px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.3s;
  width: 100%;
  text-decoration: none;
  color: #a8a9b4;
  font-family: var(--default-font);
}

:root {
  --default-font: "Arial", sans-serif;
}
.navicon {
  margin-right: 10px;
}

.nav-menu a:hover {
  background-color: transparent; /* Dilersen arka plan ekleyebilirsin */
  color: white; /* Yazı hover'da beyaz olsun */
}

.nav-menu a:hover i {
  color: rgb(42, 106, 179); /* İkon hover'da mavi olsun */
}

/*Menu Toggle Butonu*/
.header-toggle {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  transition: background-color 0.3s;
  background-color: rgb(42, 106, 179);
  color: #efeaea;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover efekti (isteğe bağlı) */
.header-toggle:hover {
  background-color: rgb(30, 85, 150);
  transform: scale(1.05);
}

/*MAİN*/

.hero-section {
  width: 100%;
  min-height: 100vh;
  background-image: url("img/main-photo/maingul3.jpg");
  background-size: cover; /* resim ekranı tamamen kaplar */
  background-position: center; /* ortalanır */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0; /* üstten ve alttan boşluk */
}
.hero-div {
  padding: 0 12px 0 12px;
  margin: auto;
  position: absolute;
}
.hero-h2 {
  font-size: 75px;
  font-weight: 700;
  color: #efeaea;
  display: block;
  width: 931px;
  height: 76, 8px;
}

/*yazı yazılıp sönen*/
.hero-p {
  margin: 5px 0 0 0;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff; /* Arka plan koyuysa beyaz iyi olur, değiştirilebilir */
}

/*media*/
